  /* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    background-color: #333333;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    height: 50px;
    
  }
body{
    padding: 0;
    margin: 0;
    border: 0;
    background: whitesmoke;
}
.spacer{
    height: 50px;
}
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 30px;
    transition: .5s;
    margin: auto;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
.downloadBTN{
  text-decoration: none;
  background: olive;
  padding: 30px 0 30px 0;
  width: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  transition: .5s;
}

.downloadBTN a{
  transition: .5s;
  color: #333333;
  font-size: 50px;
}
.downloadBTN:hover{
  background: darkolivegreen;
  padding: 10px 0;
}

.downloadBTN:hover a{
  color: whitesmoke;
  font-size: 75px;
}

a{
  text-decoration: none;
}
h2{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
a{
    font-family: 'Nunito', sans-serif;
}
img{
    max-width: 100%;
}

.Content{
    position: relative;
    background: rgb(2, 2, 68);
    color: rgb(190, 189, 218);
    bottom: 15vw;
    left: -.8vw;
    width: 70%;
    height: 10vw;
    font-size: 4vw;
    vertical-align: middle;
    padding: auto;
    border-radius: 0 20px 20px 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height:2.5;
    z-index: 5;
    box-shadow: .8vw 1vw 0 rgba(128, 128, 128, 0.712);
}


  text{
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 800px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    .topnav{
        position: absolute;
        width: 100%;
        height: auto;
    }
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
    .spacer{
        height: 250px;
    }
  }